/* Backgorund start */
.Bg-container {
  background-color: #151418;
  height: auto;
  z-index: 1;
}

.Bg-container .bg-1 {
  width: 300px;
  height: 250px;
}

.Bg-container .bg-2 {
  width: 75px;
  margin-left: 50px;
}

.Bg-container .bg-4 {
  width: 90px;
  display: flex;
}

.Bg-container .bg-3 img {
  height: auto;
  width: 100%;
}

/* Background -End */



/* Navbar-start */
.nav-conatiner {
  height: 90px;
  transition: 0.3s ease-in;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.header-bg {
  /* From https://css.glass */
  background: #080809;
  border-radius: 0px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.logo-box h1 {
  color: #f6f6f6;
  cursor: image-boximage-box;
}

.logo-box .logo-desgin {
  width: 75px;
  position: absolute;
  top: 35px;
  background-color: #8739fa;
  width: 75px;
  height: 40px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  z-index: -1;
}

nav {
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container h1 {
  display: inline;
  color: #fea700;
  text-decoration: none;
  position: relative;
  bottom: 15px;
  left: 10px;
}

nav ul {
  list-style: none;
  text-align: right;
  padding-right: 60px;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
  color: #21f34b;
}

nav ul li a {
  color: black;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
nav ul li a:hover {
  color: red;
}

nav ul li a:hover {
  fill: #080809;
}
.hero-contanier {
  position: absolute;
  z-index: 1;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  display: flex;
  margin-top: 10%;
}

.hero-contanier .text-column h2 {
  font-size: 2.875rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  font-weight: 400;
  margin: 0;
  color: #f6f6f6;
}

.hero-contanier .text-column h4 {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  color: rgb(119, 119, 121);
  font-weight: 400;
}

.hero-contanier .text-column p {
  color: #f6f6f6;
  display: block;
  width: 400px;

  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.img-column img {
  width: 250px;
  position: relative;
  left: 50px;
  bottom: 30px;
  height: 250px;
}

/* Scrol mouse */

.container {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 270px;
  right: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 250px;
}

.mouse {
  width: 35px;
  height: 60px;
  border: 3px solid #ffffff;
  border-radius: 60px;
  position: relative;

  &::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

.scroll {
  width: 60px;
  height: 60px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  position: relative;
  animation: down 3s infinite;
  -webkit-animation: down 3s infinite;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 18px;
    width: 18px;
    height: 18px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: rotate(-45deg);
  }
}

.container h2 {
  color: white;

  position: relative;
  animation: scroll 3s infinite;
  -webkit-animation: scroll 3s infinite;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: -5px;
    width: 1px;
    height: 10px;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
}

@keyframes down {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translateY(15px);
  }

  40% {
    transform: translate(0);
  }
}

@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translateY(15px);
  }

  40% {
    transform: translate(0);
  }
}

.arrow {
  width: 0;
  height: 20px;
  border: 1px solid #ffffff;
  position: relative;
  animation: scroll 3s infinite;
  -webkit-animation: scroll 3s infinite;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: -5px;
    width: 1px;
    height: 8px;

    border-top: 10px solid #ffffff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
}

@keyframes scroll {
  0% {
    height: 30px;
  }

  30% {
    height: 70px;
  }

  60% {
    height: 40px;
  }
}

@-webkit-keyframes scroll {
  0% {
    height: 40px;
  }

  30% {
    height: 70px;
  }

  60% {
    height: 40px;
  }
}

/* Project */
.project-contanier {
  position: absolute;
  z-index: 1;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(2, minmax(270px, 1fr));
  gap: 20px;
  top: 90%;
}
.heading-box {
  position: absolute;
  z-index: 1;
}
.heading-box h1 {
  color: #f6f6f6;
  font-size: 1.75rem;
  font-weight: 400;
  position: relative;
  bottom: 140px;
  width: 40px;
  height: 40px;
}
.Project-heading {
  color: #f6f6f6;
  font-size: 1.75rem;
  font-weight: 400;
  top: -100px;
  left: 60px;
  position: relative;
}

.project-contanier .image-slider {
  width: 358px;
  height: 198px;
}

.project-contanier .image-slider img {
  width: 358px;
  height: 198px;
  object-fit: cover;
  border-radius: 10px;
}

.project-contanier .text-box {
  width: 358px;
  padding: 0;
  height: 198px;
}

.project-contanier .text-box h3 {
  color: rgba(255, 255, 255, 0.96);
  font-size: 1.5rem;
  display: inline;
}

.project-contanier .text-box p {
  color: rgba(255, 255, 255, 0.67);
  font-size: 1rem;
  line-height: 1.35;
  margin-bottom: 1rem;
}

.project-contanier .text-box button {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 3.25rem;
  margin-bottom: 1rem;
  border: 0px;
  border-radius: 0.5rem;
  background: rgb(135, 57, 250);
  color: rgb(246, 246, 246);
  min-width: 8rem;
  max-width: 8rem;
  white-space: nowrap;
  padding: 0px 1rem 0px 2rem;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-size: 1rem;
}
/* Full Protoflio */

.full-protfolio {
  position: relative;
  cursor: pointer;
  grid-template-columns: repeat(1, minmax(1, 1fr));

  padding: 20px;
  left: 100%;
  bottom: 30%;
}

.full-protfolio a {
  grid-area: mailto;
  color: rgb(249, 249, 249);
  text-decoration: underline;
  color: rgb(249, 249, 249);
  text-decoration: underline;
}

.alice-carousel__dots-item {
  background: #3e3c46 !important;
  width: 20px !important;
  height: 20px !important;
  margin-top: 60px !important;
  position: relative !important;
  right: 120px;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: none !important;
}

.alice-carousel__dots-item.__active {
  background: #8f44fd !important;
  width: 20px !important;
  height: 20px !important;
  border: 3px solid #3e3c46 !important;
}

.text-box {
  margin-left: 60px;
}

/* Photoshop */
.main-box-container {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #2196f3;
  width: 100%;
  gap: 1px;
}

.line-hr {
  position: relative;
  z-index: 1;
}

.line-hr:not(:last-child)::before {
  content: "";
  background: linear-gradient(
    125.03deg,
    #5a566a 29.39%,
    rgba(254, 166, 5, 0) 125.97%
  );
  position: absolute;
  width: 90%;
  height: 1px;
  top: 51%;
  transform: translateY(-50%);
  left: 30px;

  z-index: 1;
}

hr {
  width: 90%;
  height: 0.1px;
  background-color: #151418;
}

.photo-main-contanier {
  position: absolute;
  z-index: 1;
  margin-left: 25%;
  margin-right: 25%;
  width: 60%;
  top: 138%;
  background: rgba(47, 46, 52, 255);
  border-radius: 1rem;
  box-shadow: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2fr, 1rem));
}

.container-photo {
  display: flex;
  width: 100%;
  height: auto;
}

.container-photo .image-box {
  width: 300px;
 
  height: 200px;
  border-radius: 1rem;
  padding: 10px;


  position: relative;
  margin-right: 50px;

  
}
.container-photo .image-box img{
width: 100%;
height: 100%;
 object-fit: cover;
}
.heading-box-two h1 {
  font-weight: 600;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.96);
  line-height: 1.175;
}

.heading-box-two h6 {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.67);
  font-size: 0.785rem;
  line-height: 1.375;
  margin-bottom: 16px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.heading-box-two button {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 0.375rem;
  border-radius: 1rem;
  padding: 10px 1rem;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.96);
  font-size: 0.65rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 10px;
  border: none;
}

.heading-box-two button span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb(143, 68, 253);
}

.heading-box-two p {
  color: rgba(255, 255, 255, 0.67);
  font-size: 0.75rem;
}

.btn-box {
  display: flex;
  gap: 10px;
  position: relative;
  top: 50px;
  left: 10px;
}

.btn-box .btn-1 {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 3.25rem;
  padding: 0px 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  min-width: 7rem;
  max-width: 7rem;
  white-space: nowrap;
  background: rgb(62, 60, 70);
  border: 2px solid rgb(62, 60, 70);
  color: rgb(249, 249, 249);
  cursor: pointer;
}

.btn-box .btn-2 {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 3.25rem;
  margin-bottom: 1rem;
  border: 0px;
  border-radius: 0.5rem;
  background: rgb(135, 57, 250);
  color: rgb(246, 246, 246);
  min-width: 7rem;
  max-width: 7rem;
  white-space: nowrap;
  padding: 0px 1rem 0px 2rem;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-size: 1rem;
}

/* To Top Button */

.gotopbtn {
  position: absolute;
  margin-top: 120%;
  z-index: 1;
  margin-left: 25%;
}

.gotopbtn p {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.67);
}
